---
import { en } from "~/config"
import { getLangFromUrl, useTranslations } from "~/i18n/utils"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const { home, archive, project, about } = en.navigation
---

<div
	class="mt-4 mb-10 flex gap-4 overflow-x-auto text-lg whitespace-nowrap [-ms-overflow-style:none] [scrollbar-width:none] [&::-webkit-scrollbar]:hidden"
>
	{
		home && (
			<a
				href={`/${lang}`}
				class="hover:underline hover:underline-offset-4"
				aria-label={t("nav.home")}
				title={t("nav.home")}
				data-astro-prefetch="viewport"
			>
				<p>{t("nav.home")}</p>
			</a>
		)
	}
	{
		archive && (
			<a
				href={`/${lang}/archive`}
				class="hover:underline hover:underline-offset-4"
				aria-label={t("nav.archive")}
				title={t("nav.archive")}
				data-astro-prefetch="viewport"
			>
				<p>{t("nav.archive")}</p>
			</a>
		)
	}
	{
		project && (
			<a
				href={`/${lang}/project`}
				class="hover:underline hover:underline-offset-4"
				aria-label={t("nav.project")}
				title={t("nav.project")}
				data-astro-prefetch="viewport"
			>
				<p>{t("nav.project")}</p>
			</a>
		)
	}
	{
		about && (
			<a
				href={`/${lang}/about`}
				class="hover:underline hover:underline-offset-4"
				aria-label={t("nav.about")}
				title={t("nav.about")}
				data-astro-prefetch="viewport"
			>
				<p>{t("nav.about")}</p>
			</a>
		)
	}
</div>
