---
interface Props {
	name: string
	category: string
	description: string
}

const { name, category, description } = Astro.props
---

<a
	href="#"
	class="block w-full rounded-lg border border-neutral-200 p-4 shadow-sm hover:scale-[1.02] hover:bg-neutral-100 hover:shadow-lg dark:border-neutral-800 dark:hover:bg-neutral-900"
>
	<h5
		class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
	>
		{name}
	</h5>
	<p class="mb-2 text-sm font-medium text-purple-600 dark:text-purple-400">
		{category}
	</p>
	<p class="font-normal text-gray-700 dark:text-gray-400">
		{description}
	</p>
</a>
